*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header--container{
    background: #131921;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    padding: 10px;
}

.header--logo{
    display: flex;
    align-items: center;
    gap:20px;
}

.header--img--container img{
    width: 120px;
    mix-blend-mode: difference;
}

.header--location{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.header--location--icon i{
    font-size: 30px;
}

.header--location--details span{
    font-size: 14px;
}

.header--location--details b{
    font-size: 16px;
}

.header--search{
    display: flex;
    align-items: center;
    flex:1;
}

.header--search--selection{
    height: 40px;
    width: 50px;
    background: #e6e6e6;
    color:#000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 5px 0 0 5px;
}

.header--search--textbox{
    width:100%;
}
.header--search--textbox input{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
}

.header--search--icon{
    height: 40px;
    width: 50px;
    background: #febd69;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 0 5px  5px 0;
}

.header--details{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header--language{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    gap:5px;
    height: 40px;
}

.header--language span{
    font-size: 14px;
}

.header--language img{
    width: 25px;
}

.header--signed--in,
.header--orders{
    padding: 5px;
}
.header--signed--in span,
.header--orders span {
    font-size: 12px;
}

.header--signed--in b ,
.header--orders b {
    font-size: 14px;
}

.header--cart{
    text-align: center;
}

.header--cart i{
    font-size: 28px;
}

.nav-bar{
    background: #232f3e;
    /*color: #dfe1e3;*/
    color: rgb(255, 255, 255);
}

.nav-bar ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px 5px;
}

.nav-bar ul li{
    padding: 5px 10px;
    font-size: 14px;
}

.header--logo img:hover,
.header--location:hover,
.header--language:hover,
.header--signed--in:hover,
.header--orders:hover,
.nav-bar ul li:hover{
    outline: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

.image--slider{
    width: 100%;
    overflow-x: hidden;
}

.image--container{
    width: 400%;
    display: flex;
    animation: imageSlider 10s infinite;
}

.image--container img{
    width:100%;
    height: 90vh;
    aspect-ratio: 1/1;
}

@keyframes imageSlider{
    0%{
        margin-left: 0;
    }
    20%{
        margin-left: 0;
    }
    25%{
        margin-left: -100%;
    }
    45%{
        margin-left: -100%;
    }
    50%{
        margin-left: -200%;
    }
    70%{
        margin-left: -200%;
    }
    75%{
        margin-left: -300%;
    }
    95%{
        margin-left: -300%;
    }
    100%{
        margin-left: 0;
    }
}

.product--container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    gap:40px;
    justify-content: space-evenly;
    margin-top: -350px;
}

.product--card{
    width:300px;
    box-shadow: 0 0 22px 0 rgba(0,0,0,0.1);
}

.product--image-container{
    background: #f7f7f7;
    width:100%;
    padding: 10px 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.product--image-container img{
    width: 80%;
    mix-blend-mode: multiply;
    border-radius: 5px 5px 0 0;
}

.product--details{
    padding: 10px;
    text-align: center;
}

.product--brand--name{
    font-size: 20px;
    padding: 10px 0;
}

.product--name{
    padding: 10px 0;
}

.product--rating i{
    color:#fda21c;
}

.product--rating span{
    font-weight: bold;
}

.product--price{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.product--price b{
    display: flex;
}
.product--price b span{
    font-size: 28px;
}

.product--price>span{
    color: #565959;
    font-size: 14px;
}

.footer--container{
    background: #232f3e;
    color: #c7c7c7;
}

.back-to-top{
    display: block;
    width: 100%;
    background: #37475a;
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
}
.back-to-top:active{
    background: #44586f;
}
.back-to-top p{
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.footer--content{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20px;
}

.footer--content--details ul{
    list-style: none;
}

.footer--content--details ul span{
    font-size: 18px;
    color:#fff;
    display: block;
    margin-bottom: 10px;
}

.footer--content--details ul li{
    margin-bottom: 10px;
    font-size: 14px;
}
.abc{
    display: none;
}

@media(max-width:600px)
{
    .nav-bar li{
        display: none;
    }
    .nav-bar ul{
        position: absolute;
        margin: -205px;
        margin-left: 0px;
    }
    .nav-bar .a{
        display:block;
        font-size: 20px;
    }
    .nav-bar:hover ul{
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
        background: #232f3e;
        padding: 10px 5px;
        width: 200px;
        box-shadow: 2px 2px 5px hsla(0,0%,0%,0.8);
        z-index: 1;
        
    }
    .nav-bar:hover li{
        display:block;
        padding: 10px 10px;
        font-size: 18px;
    }
    .header--container{
        display: grid;
    }
    .header--logo{
        display: flex;
        justify-content: space-between;      
    }   
    .header--img--container{
        padding: 0 4px 0 55px;
    }
    .header--img--container img{
        width: 100px;
    }
    .header--details{
        height: 10vh;
        flex-wrap: wrap;
        gap: 0;
    }
    .header--language{
        display: none;
        align-items: start;
    }
    .header--signed--in{
        display: flex;
        font-size: 16px;
        gap: 5px;
        width: 100%;
        padding-bottom: 5px;
    }
    .header--signed--in span{
        font-size: 16px;
    }
    .header--signed--in b{
        font-size: 16px;
    }
    .header--orders{
        display: block;
        display: flex;
        gap: 5px;
        width: 95%;
    }
    .header--details span{
        font-size: 16px;
    }
    .header--details b{
        font-size: 16px;
    }
    .header--cart{
        margin: -10px;
        margin-bottom: 5px;
    }
    .header--location{
        gap:4px;
    }
    .header--location--details{
        display: flex;
    }
    .header--location--details span{
        font-size: 13px;
    }
    .header--location--details b{
        display: none;
    }
    .header--location--icon i{
        font-size: 20px;
    }
    .header--search--selection{
        height: 50px;
    }
    .header--search--textbox input{
        height: 50px;
    }
    .header--search--icon{
        height: 50px;
    }
    .image--container img{
        
        overflow-x: hidden;
        height: 60vh;
    }
    .product--container{
        gap:10px;
        margin-top: -240px;
    }
    .product--card{
        width: 175px;
    }
    .product--price{
        gap:2px;
    }
    .product--price b{
        font-size: 18px;
    }
    .footer--content{
        margin:10px auto;
        padding: 5px 1px;
        display: flex;
        justify-content: space-evenly;
        width: 90%;
    }
    .footer--content--details{
        padding: 2px 10px;
    }
    .abc{
        display: block;
        height: 6vh;
        width: 100%;
        background: #232f3e;
        margin-top: -52px;
    }
    .header--cart i{
        font-size: 28px;
    }
    .header--cart span{
        display: none;
    }
}
